/* Color Theme Swatches in Hex */
@innovenso-primary-light-brown-hex: #F4E9D7;
@innovenso-primary-green-hex: #8C834F;
@innovenso-primary-brown-hex: #251A06;
@innovenso-primary-grayish-hex: #DED4C4;
@innovenso-primary-blue-hex: #08888C;
@innovenso-secondary-brown-hex: #735112;
@innovenso-secondary-gray-hex: #4D4D4D;
@innovenso-secondary-black-hex: #000000;
@innovenso-secondary-white-hex: #FFFFFF;
@innovenso-secondary-sun-hex: #FFB429;

/* Color Theme Swatches in RGBA */
@innovenso-primary-light-brown-rgba: rgba(244, 233, 215, 1);
@innovenso-primary-green-rgba: rgba(140, 131, 79, 1);
@innovenso-primary-brown-rgba: rgba(37, 26, 6, 1);
@innovenso-primary-grayish-rgba: rgba(222, 212, 196, 1);
@innovenso-primary-blue-rgba: rgba(8, 136, 140, 1);
@innovenso-secondary-brown-rgba: rgba(115, 81, 18, 1);
@innovenso-secondary-gray-rgba: rgba(77, 77, 77, 1);
@innovenso-secondary-black-rgba: rgba(0, 0, 0, 1);
@innovenso-secondary-white-rgba: rgba(255, 255, 255, 1);
@innovenso-secondary-sun-rgba: rgba(255, 180, 41, 1);

/* Color Theme Swatches in HSLA */
@innovenso-primary-light-brown-hsla: hsla(37, 56, 90, 1);
@innovenso-primary-green-hsla: hsla(51, 27, 42, 1);
@innovenso-primary-brown-hsla: hsla(38, 72, 8, 1);
@innovenso-primary-grayish-hsla: hsla(36, 28, 81, 1);
@innovenso-primary-blue-hsla: hsla(181, 89, 29, 1);
@innovenso-secondary-brown-hsla: hsla(38, 72, 26, 1);
@innovenso-secondary-gray-hsla: hsla(0, 0, 30, 1);
@innovenso-secondary-black-hsla: hsla(0, 0, 0, 1);
@innovenso-secondary-white-hsla: hsla(0, 0, 100, 1);
@innovenso-secondary-sun-hsla: hsla(38, 100, 58, 1);